.ipynb_checkpoints/
__pycache__/

# too big or too many files. also could be sensitive data
*.fasta
*.gbk
*.gb
*.vcf
*_seqdf.csv

# additional files for testing
temp.py
*_paths.txt
config_*.yaml
*insertion_sites_dict.csv

# sensitive analysis info
*.png
