.ipynb_checkpoints/
__pycache__/
archive/

# too big or too many files. also could be sensitive data
*.fasta
*.gbk
*.gb
*.vcf
*_seqdf.csv
*.gz
./analysis/L3_MXF/L3_MXF_genome_matrix.csv

# also large files
*.svg
*snakemake*

# additional files for testing
*_paths.txt
config_*.yaml
*insertion_sites_dict.csv
*temp*
