*.ipynb_checkpoints/
*/__pycache__/
*/archive/

# too big or too many files. also could be sensitive data
*.fasta
*.gbk
*.gb
*.vcf
*_seqdf.csv
*.gz

# also large files
*snakemake/*
*/analysis/L3_MXF/*

# unpublished data
/MIC_data/*

# additional files for testing
*_paths.txt
config_*.yaml
*insertion_sites_dict.csv
*temp*

# unpublished patient data
analysis/TRUST/*.csv*
analysis/TRUST/*.xlsx
analysis/TRUST/*.txt*
analysis/TRUST/*.tsv*
